* {
  box-sizing: border-box;
}

:root {
  --header-bg: #10375c;
  --primary-color: #2e80ce;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* Common */
a {
  text-decoration: none;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  --height-btn: 60px;
  display: inline-block;
  min-width: 205px;
  height: var(--height-btn);
  line-height: var(--height-btn);
  text-align: center;
  padding: 0 20px;
  border-radius: var(--radius-btn, 30px);
  border: 1px solid #2e80ce;
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
  background: #2e80ce;
}

.heading {
  color: #10375c;
  font-size: var(--font-size-heading, 5rem);
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.desc {
  color: #575f66;
  font-size: var(--font-size-desc, 1.8rem);
  font-weight: 300;
  line-height: var(--line-height-desc, 1.66);
}

/* header */

.header {
  padding-top: 30px;
  min-height: 100vh;
  background: var(--header-bg);
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position: relative;
  font-size: 1rem;
  display: inline-flex;
  align-items: flex-start;
}

.logo__circle::before,
.logo__circle::after {
  content: "";
  display: inline-block;
  width: var(--width-logo, 3em);
  height: var(--height-logo, 3em);
  border-radius: 50%;
  background: var(--bg-logo, #2e80ce);
}

.logo__circle::after {
  --width-logo: 1.6em;
  --height-logo: 1.6em;
  --bg-logo: #fff;
  position: absolute;
  top: 1.1em;
  left: 1.1em;
}

.logo__text {
  margin-left: 0.6em;
  text-align: right;
  line-height: 1.6em;
}

.logo__brand {
  display: block;
  font-size: 1.8em;
  font-weight: 400;
  color: #fff;
}

.logo__brand--small {
  font-size: 1.2em;
  font-weight: 300;
}

.nav__list {
  display: flex;
}

.nav__item {
  padding: 0 21px;
  position: relative;
}

.nav__link--active::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  font-weight: 600;
}

.nav__link--active .nav__link {
  font-weight: 600;
  color: #fff;
}

.nav__link--active:hover,
.nav__link:hover,
.action__login:hover {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}

.nav__link,
.action__login {
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

.action__login {
  margin-right: 28px;
}

.action__signup {
  --height-btn: 44px;
  --radius-btn: 22px;
  min-width: 104px;
}

.action__signup:hover {
  color: var(--primary-color);
  background: #fff;
}
